<div class="ui center aligned inverted basic segment" style='background-color: #1abb97;'>
    <p>&copy; {{site_name}}
    	<!-- <a href="https://{{base_url}}" target="_blank" style="color: #1abb9c;">{{site_name}}</a> -->
    </p>
    <a target="_blank" href="https://www.facebook.com/protechstuff"><i class="big grey facebook icon"></i></a>
    <!-- <a target="_blank" href="//{{base_url}}"><i class="big grey instagram icon"></i></a> -->
    <a target="_blank" href="//{{base_url}}"><i class="big grey twitter card icon"></i></a>
</div>